body{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  font-style: italic;
  font-size: xx-large;
  padding: 0 1%;
}
.h{
  height: 60px;
}

#portada{
  height: 100vh;
  width: 200vh;
  background: no-repeat url("./img/portada.jpg");
  background-size: 100% 100%;
  flex: auto;
}

#portada h1 {
  font-family: 'Alex Brush';
  margin-top: 25vh;
  font-size: 50px;
  font-weight: 600;
}

#main {
  padding: 0px;
}

/* Start Time */ 
#remaining-time {
  height: 35vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
  justify-content: space-evenly;
}

#cuenta {
  width: 100%;
  padding: 0px;
  display: flex;
  justify-content: space-evenly !important;
  color: #FF2F81 !important;
}
h3 {
  font-family: Montserrat,sans-serif!important;
}
.simply-section {
  width: auto !important;
  margin: 0px !important;
}

.simply-amount {
  font-size: 2rem!important;
  line-height: 2.375rem!important;
}
.simply-word {
  font-size: 1.25rem!important;
  line-height: 2.375rem!important;
}
/* End Time */

div{
  text-align: center;
  align-items: center;
}


#cuenta {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  color: #212529;
}

.simply-section {
  background: #fff;
  width: 100px;
  height: 100px;
  margin: 0 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.simply-amount {
  display: block;
  font-size: 50px;
  font-weight: 700;
  border: 1px;
}

.simply-word {
  font-weight: 300;
  font-size: 30px;
}

.itinerario{
  background-color: #152f4c; 
  width: 100%;
  height: auto;
  margin-top: -55px;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.title {
  color: #D28A55;
  margin-top: 30px;
}

.itinerario iframe {
  width: 350px !important;
  height: 350px !important;
  margin-top: 20px;
}

.itinerario .ubicacion {
  font-size: 15px;
}

/* Start Vestimenta */
.details .gender {
  font-weight: bold;
}
.details .note {
  font-weight: bold;
  font-size: small;
  color: red;
}
/* End Vestimenta */

/* Start Confirmacion */
.confirmacion {
  background-color: #152f4c;
  color: #FFF;
  display: flex;
  flex-direction: column;
  padding: 5vh 0px;
  height: 50vh;
  justify-content: space-evenly;
  padding: 10%;
}
.confirmation .custom-card {
  border: solid #FFF 2px;
}
/* End Confirmacion */


.local{
  height: 85vh;
  width: 100%;
}

.margin{
  margin-top: 55px;
}

.margin2{
  margin-bottom: 0px;
}

a{
  color: #d28a55 !important;
  font-weight: bolder;
}

.etiqueta{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

.dresscode-block{
  padding: 5%;
 /* margin-top: 20px;*/
}

.centered-content-block{
  margin: auto;
  display: block;
  text-align: center;
}

.sm-line-height{
  line-height: 1rem;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.fourth-color-text{
  color: #a4a4a4;
}

.third-color-text{
  color: #727475;
}

h3{
  font-size: 28px;
  margin-top: 0;
}

h4{
  font-size: 24px;
  margin-top: 0;
}

.dresscode-block .first-quarter, .dresscode-block .last-quarter {

  padding: 2%;
}


.dresscode-block .first-quarter .content{
  background-color: #fbfbfb;
  padding: 15%;
  width: 100%;
}

.dresscode-block .first-quarter{
  background-color: #152f4c;
}

.dresscode-block .last-quarter{
  background-color: #d28a55
}

.dresscode-block .last-quarter .content{
  background-color: #fbfbfb;
  padding: 20% 15%;
  width: 100%;
}

.location-info-box{
  background-color: #152f4c;
  padding: 5%;
}

.registry-block{
  background-color: #d28a55;
    padding: 5%;
}

#regalos{
  margin-bottom: -25px;
  width: 200vh;
}

.light-color-text {
  color: #fff !important;
}

.registry-block svg {
  fill: #fff;
  height: 85px;
  width: 82px;
}

.inv-card{
  max-width: 400px;
  min-width: auto;
  overflow-y: auto;
  display:flex;
  outline: 5px solid #212529;
  color: blue;
  min-height: 490px;
  max-height: 90%;
  padding: 10px;
  padding-bottom: 30px;
  box-sizing: border-box;

}

.card-head {
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 2px;
  padding-top: 10px;
}




