html {
  width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  font-style: italic;
  font-size: xx-large;
  padding: 0;
  max-width: 450px;
  background: #202023;
}

main {
  background-color: #FFF;
}

.h {
  height: 60px;
}

#portada {
  height: 100vh;
  width: 100vw;
  background: no-repeat url("../img/portada2.jpeg");
  background-position: -29vw -220px;
  flex: auto;
  border: solid #FFF 2px;
}

#portada-bg {
  background-color: #000000;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

#portada .names {
  padding-top: 15vh;
  margin-bottom: 55vh;
  height: 20vh;
}

#portada #date {
  font-family: serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  margin-top: 10px;
  letter-spacing: 1.8vw;
  color: #FFF;
}

#portada h1 {
  font-family: 'Alex Brush';
  font-size: 5rem;
  color: #FFF;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 80px;
  /* #7A89A5
#5D6988
#5A6163
#5C5337
#EDEDED */
}

#portada h3 {
  font-family: 'Alex Brush';
  color: #EDEDED;
}

#portada span {
  color: #EDEDED;
  padding: 0px 15px;
  border-top: solid #EDEDED 1px;
  border-bottom: solid #EDEDED 1px;
}

main {
  padding: 0px;
  background-color: #FEFCFD;
}

/* Start Time */ 
#remaining-time {
  height: 40vh;
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
  justify-content: space-evenly;
}

#remaining-time h3 {
  font-size: 1.4rem;
  font-family: serif !important;
}

#cuenta {
  width: 100%;
  padding: 0px;
  display: flex;
  justify-content: space-evenly !important;
  color: #000 !important;
  font-family: serif; !important;
}

h3 {
  font-family: Montserrat,sans-serif!important;
}

.simply-section {
  width: auto !important;
  margin: 0px !important;
}

.simply-amount {
  font-size: 2rem!important;
  line-height: 2.375rem!important;
}
.simply-word {
  font-size: 1.25rem!important;
  line-height: 2.375rem!important;
}
/* End Time */

div{
  text-align: center;
  align-items: center;
}


#cuenta {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10px;
  color: #212529;
}

.simply-section {
  background: #fff;
  width: 100px;
  height: 100px;
  margin: 0 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.simply-amount {
  display: block;
  font-size: 50px;
  font-weight: 700;
  border: 1px;
}

.simply-word {
  font-weight: 300;
  font-size: 30px;
}

.itinerario{
  background-color: #FFF;
  font-family: serif !important;
  width: 100%;
  height: auto;
  margin-top: -55px;
  color: #000;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.title {
  color: #C5B358;
  font-weight: bold;
  margin-top: 30px;
}

.subtitle {
  font-family: serif !important;
    font-size: 1.4rem;
    margin-top: 20px;
}

.itinerario iframe {
  width: 350px !important;
  height: 350px !important;
  margin-top: 20px;
}

.itinerario .ubicacion {
  font-size: 15px;
}

/* Start Vestimenta */
.details {
  height: 80px;
  font-family: serif;
  font-size: 1.7rem;
  font-weight: 100;
}

.details .gender {
  font-weight: bold;
}

.details .note {
  font-weight: bold;
  font-size: small;
  color: red;
}

.note {
  font-size: 23px;
  font-weight: 400;
  text-decoration: underline;
}

#recomendaciones, #regalos, .confirmacion p {
  font-size: 1.4rem;
  font-family: serif;
  font-weight: 100;
  text-align: center;
}

#recomendaciones p {
  margin-bottom: 0px;
}
/* End Vestimenta */

/* Start Confirmacion */
.confirmacion {
  background-color: #FFF;
  color: #000;
  padding: 10%;
}

.confirmacion .custom-card {
  border: solid #FFF 2px;
}

.confirmacion .card-body p {
  font-size: 20px;
}

#btn-submit {
  margin: 0px !important;
    width: 100%;
    font-family: serif;
    font-size: 1.4rem;
    padding: 5px;
    height: auto;
    border-radius: 10%;
    font-weight: 100;
    border: solid #fff 1px;
    background: #C5B358;
    color: #FFF;
}
/* End Confirmacion */


.local{
  height: 85vh;
  width: 100%;
}

.margin{
  margin-top: 55px;
}

.margin2{
  margin-bottom: 0px;
}

a{
  color: #d28a55 !important;
  font-weight: bolder;
}

.etiqueta{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

.dresscode-block{
  padding: 5%;
 /* margin-top: 20px;*/
}

.centered-content-block{
  margin: auto;
  display: block;
  text-align: center;
}

.sm-line-height{
  line-height: 1rem;
}

.no-margin-bottom {
  margin-bottom: 0px;
}

.fourth-color-text{
  color: #a4a4a4;
}

.third-color-text{
  color: #000;
  font-family: serif;
  font-size: 1.5rem;
}

h3{
  font-size: 28px;
  margin-top: 0;
}

h4{
  font-size: 24px;
  margin-top: 0;
}

.dresscode-block .first-quarter, .dresscode-block .last-quarter {

  padding: 2%;
}


.dresscode-block .first-quarter .content{
  background-color: #fbfbfb;
  padding: 15%;
  width: 100%;
}

.dresscode-block .first-quarter{
  background-color: #5A6163;
}

.dresscode-block .last-quarter{
  background-color: #d28a55
}

.dresscode-block .last-quarter .content{
  background-color: #fbfbfb;
  padding: 20% 15%;
  width: 100%;
}

.location-info-box{
  background-color: #5A6163;
  padding: 5%;
}

.registry-block{
  background-color: #d28a55;
    padding: 5%;
    width: 100vw;
}

a{
  max-width: 300px;
}
a > img{
  object-fit:contain;
}

.light-color-text {
  color: #fff !important;
}

.registry-block svg {
  fill: #fff;
  height: 85px;
  width: 82px;
}

.inv-card{
  max-width: 400px;
  min-width: auto;
  overflow-y: auto;
  display:flex;
  outline: 5px solid #212529;
  color: blue;
  min-height: 490px;
  max-height: 90%;
  padding: 10px;
  padding-bottom: 30px;
  box-sizing: border-box;

}

.card-head {
  padding-top: 10px;
}

footer{
font-size: larger;
color: #fbfbfb;
height: auto;
padding: 5%;
background-image: url('https://us.123rf.com/450wm/pichukovaekaterina/pichukovaekaterina1907/pichukovaekaterina190700151/130020505-anillos-de-boda-en-manos-de-los-novios-.jpg?ver=6'); /* fallback for older browsers */
background-image: linear-gradient(to bottom, rgba(35, 35, 35, 0.6) 0%,rgba(35, 35, 35, 0.6) 100%), url('https://us.123rf.com/450wm/pichukovaekaterina/pichukovaekaterina1907/pichukovaekaterina190700151/130020505-anillos-de-boda-en-manos-de-los-novios-.jpg?ver=6');
background-repeat: no-repeat;
background-size: cover;
}



